body {
  background-color: beige;
}
#child, #minor, #adult, #outputLang, #interestOutput{
  display: none;
}
.jumbotron, #experience, #interests, #personality {
  background-color: lightgrey;
  margin:2em;
  padding:2em;
  
  border: 5px solid black;
  box-sizing: border-box;
}
p {
  margin:1em;
  line-height: 1.25em;
}
.intro {
  border: 2px solid black;
  background-color: beige;
}
#age {
  width: 100%;
}
.button {
  width: 100%;
}
.radio {
  border: 1px solid black;
  margin: .5em;
  padding: .5em;}
.col-3 {
  background-color: beige;
  border: 1px solid black;
  margin: 10px;
  display: flexbox;

}

h3 {
  background-color: darkgray;
  border: 2px solid black;
  text-align: center;
}
h5 {
  text-align: center;
}
#interests {
  border: 5px solid black;
  padding: 1em;
}
.reveal {
  border: 5px solid black;
  margin: 1em;
  background-color: beige;
  padding: 1em;
}
